.hide_content {display:none}
#selected_option{
    color: #ff0011;
    background: blue
}
.fillin_blank_option{
    background-color: red
}
.blank_options{
    display:none;
}
.blank_options_li{
    width: 200px;
    height: 20px;
    background: #FFFF00;
    line-height: 20px;
    font-size: 12px;
}
.knowledge_card_hidden{
    display:none;
}
.value_li_select{
    display:none;
}